<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Students</h2>
    <p>Please fill up all the details of Students </p>

    <form action="/save-student" method="post">
        <input type="text" placeholder="Student Name" name="std_name" > <br>
        <input type="text" placeholder="Student Address" name="std_address"><br>
        <input type="text" placeholder="Student Age" name="std_age"><br>
        <input type="text" placeholder="Student Fees" name="std_fees" ><br>
        <input type="text" placeholder="Student Level" name="std_level" ><br>
        <input type="submit" value="save the data">
    </form>
</body>
</html>