<h1>Home Page <%= meroName %></h1>
<a href="/about">about</a>

<form action="/data-backend-ma-janey-bato" method="post">
    <input type="text" name="meroFistData" placeholder="Enter your data">
    <input type="submit" value="Submit">
</form>